.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-weight: 600;
}

.activity {
  display: flex;
}

.active {
  color: green;
  margin-left: 3px;
}
